Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell

  - repo: local
    hooks:
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: lint-ts
        name: lint typescript
        entry: make
        args: [lint-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

add readme
  README.md
  deploy/example.config.ts
  deploy/package.json
  deploy/src/db.ts
  deploy/src/index.ts
  package.json
Due: format-ts, lint-ts, typecheck-ts

fix config example
  deploy/example.config.ts
Due: format-ts, lint-ts, typecheck-ts

add readme (#7)
  README.md
  deploy/example.config.ts
  deploy/package.json
  deploy/src/db.ts
  deploy/src/index.ts
  package.json
Due: format-ts, lint-ts, typecheck-ts

add license
  LICENSE
  README.md
  deploy/README.md
  deploy/example.env.local
  deploy/package.json
  deploy/src/index.ts
  gateway/package.json
  gateway/src/providers/index.ts
  package.json
Due: format-ts, lint-ts, typecheck-ts

add URL to openai example
  examples/pai_openai.py
Due: format-py, typecheck-py

Add Proxy server
  Makefile
  deploy/package.json
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/vitest.config.mts
  deploy/wrangler.jsonc
  package-lock.json
  proxy-vcr/README.md
  proxy-vcr/proxy_vcr/__init__.py
  proxy-vcr/proxy_vcr/cassettes/openai-chat-completion.yaml
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Ignore egg info
  .gitignore
  proxy-vcr/pyproject.toml
  uv.lock
Due: none

Hash the body to avoid to send vcr filename
  Makefile
  deploy/test/index.spec.ts
  proxy-vcr/README.md
  proxy-vcr/proxy_vcr/cassettes/77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Check if local proxy-vcr is up
  deploy/test/index.spec.ts
  deploy/test/utils.ts
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Update lockfile
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

push
  gateway/eslint.config.mjs
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

solve linter issue
  deploy/test/index.spec.ts
  deploy/test/tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

drop logfire capture
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/utils.ts
Due: format-ts, lint-ts, typecheck-ts

Run proxy server on the pipeline
  .github/workflows/ci.yml
Due: none

Add description
  proxy-vcr/pyproject.toml
Due: none

Add Proxy server (#8)
  .github/workflows/ci.yml
  .gitignore
  Makefile
  deploy/package.json
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/tsconfig.json
  deploy/vitest.config.mts
  deploy/wrangler.jsonc
  gateway/eslint.config.mjs
  package-lock.json
  proxy-vcr/README.md
  proxy-vcr/proxy_vcr/__init__.py
  proxy-vcr/proxy_vcr/cassettes/77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add support for `http/json`
  deploy/src/db.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/src/otel.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Record snapshots in their files
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  pyproject.toml
Due: format-ts, lint-ts, typecheck-ts

drop codespell ignore
  deploy/test/index.spec.ts
Due: format-ts, lint-ts, typecheck-ts

Add support for `otelExporterOtlpProtocol` (#9)
  deploy/src/db.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  gateway/src/otel.ts
  gateway/src/types.ts
  pyproject.toml
Due: format-ts, lint-ts, typecheck-ts

improved support for changing provider
  .zed/settings.json
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/types.d.ts
  deploy/test.config.ts
  deploy/tsconfig.json
  gateway/eslint.config.mjs
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/types.ts
  tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

revert lint change
  gateway/eslint.config.mjs
  gateway/src/auth.ts
  gateway/src/gateway.ts
  tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

fix tests
  Makefile
  deploy/package.json
  deploy/test/__snapshots__/index.spec.ts.snap
  deploy/test/index.spec.ts
  deploy/test/tsconfig.json
  gateway/src/gateway.ts
  gateway/src/types.ts
  package-lock.json
  proxy-vcr/pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts

fix snapshots
  deploy/test/index.spec.ts.snap
Due: none

tweak ci
  .github/workflows/ci.yml
Due: none

fix test types
  deploy/test/tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

more tests
  deploy/package.json
  deploy/src/db.ts
  deploy/src/types.d.ts
  deploy/test/index.spec.ts
  gateway/src/gateway.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

cleanup makefile
  Makefile
Due: none

Improved support for changing provider (#10)
  .github/workflows/ci.yml
  .zed/settings.json
  deploy/example.config.ts
  deploy/package.json
  deploy/src/db.ts
  deploy/src/types.d.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/tsconfig.json
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/types.ts
  package-lock.json
  proxy-vcr/pyproject.toml
  tsconfig.json
  uv.lock
Due: format-ts, lint-ts, typecheck-ts

simplify otel setup
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/types.ts
  deploy/test.config.ts
  gateway/src/otel.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

noop span when otel is not active
  gateway/src/otel.ts
Due: format-ts, lint-ts, typecheck-ts

fix tests
  .pre-commit-config.yaml
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/src/otel.ts
Due: format-ts, lint-ts, typecheck-ts

fix otel tests
  deploy/test/index.spec.ts
  gateway/src/otel.ts
Due: format-ts, lint-ts, typecheck-ts

Return 429 on too many requests
  gateway/src/auth.ts
  gateway/src/utils.ts
Due: format-ts, lint-ts, typecheck-ts

hash config for kvVersion
  deploy/src/index.ts
Due: format-ts, lint-ts, typecheck-ts

drop CONFIG_VERSION variable
  deploy/example.config.ts
  deploy/test.config.ts
Due: format-ts, lint-ts, typecheck-ts

hash config for `kvVersion` (#12)
  deploy/example.config.ts
  deploy/src/index.ts
  deploy/test.config.ts
Due: format-ts, lint-ts, typecheck-ts

single "openai" provider
  deploy/example.config.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Single `openai` provider (#13)
  deploy/example.config.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Replace `active` by `status`
  deploy/limits-schema.sql
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/eslint.config.mjs
  gateway/src/auth.ts
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts
