Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

format-ts:
  name: format typescript
  entry: make
  args:
  - format-ts
  language: system
  pass_filenames: false

lint-ts:
  name: lint typescript
  entry: make
  args:
  - lint-ts
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: make
  args:
  - typecheck-ts
  language: system
  pass_filenames: false

format-py:
  name: format python
  entry: make
  args:
  - format-py
  language: system
  pass_filenames: false

typecheck-py:
  name: typecheck python
  entry: make
  args:
  - typecheck-py
  language: system
  pass_filenames: false

Use options for every parameter
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
  gateway/src/providers/index.ts
Due: format-ts, lint-ts, typecheck-ts

Add middleware parameter to `DefaultProviderProxy` (#66)
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/providers/default.ts
  gateway/src/providers/index.ts
  gateway/test/gateway.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Update pydantic-ai version
  pyproject.toml
  uv.lock
Due: none

refactor(middleware): create interface to create middleware
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/providers/default.ts
  gateway/src/utils.ts
  gateway/test/gateway.spec.ts
Due: format-ts, lint-ts, typecheck-ts

refactor(middleware): create interface to create middleware
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

refactor(middleware): create interface to create middleware (#68)
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/providers/default.ts
  gateway/src/utils.ts
  gateway/test/gateway.spec.ts
Due: format-ts, lint-ts, typecheck-ts

feat(config): add `disableKey` setting (#63)
  gateway/src/providers/default.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Update pydantic-ai version (#67)
  pyproject.toml
  uv.lock
Due: none

feat(proxy): expose apiKey on the `DefaultProviderProxy`
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

make apiKeyInfo readonly
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

feat(proxy): expose apiKey on the `DefaultProviderProxy` (#69)
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

chore: update openai version
  deploy/package.json
  gateway/package.json
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

rename teams to projects
  README.md
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/status.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts.snap
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

fix tests
  gateway/test/gateway.spec.ts.snap
Due: none

linting
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

rename last instance
  deploy/example.config.ts
Due: format-ts, lint-ts, typecheck-ts

Rename `teams` to `projects` (#71)
  README.md
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/status.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts.snap
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Support AWS Bedrock
  deploy/test/index.spec.ts.snap
  examples/pai_bedrock.py
  examples/pyproject.toml
  gateway/package.json
  gateway/src/api/bedrock.ts
  gateway/src/gateway.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  package-lock.json
  package.json
  proxy-vcr/proxy_vcr/cassettes/730cb860c2314477e9522a81cfc6a426d95100e670c17f661d05499461cf830c.yaml
  proxy-vcr/proxy_vcr/main.py
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Drop some dependencies
  gateway/package.json
  gateway/test/polyfills.ts
  gateway/test/providers/bedrock.spec.ts
  gateway/test/tsconfig.json
  gateway/vitest.config.mts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

Add on example.env.local
  deploy/example.env.local
Due: none

Only do path decode on bedrock
  gateway/src/gateway.ts
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

Support AWS Bedrock (#62)
  deploy/example.env.local
  deploy/test.config.ts
  deploy/test/index.spec.ts.snap
  examples/pai_bedrock.py
  examples/pyproject.toml
  gateway/package.json
  gateway/src/api/bedrock.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/index.ts
  gateway/test/env.d.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/730cb860c2314477e9522a81cfc6a426d95100e670c17f661d05499461cf830c.yaml
  proxy-vcr/proxy_vcr/main.py
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Support Anthropic via Vertex
  examples/pai_anthropic_vertex.py
  gateway/src/providers/google/index.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Update model input
  examples/pai_anthropic_vertex.py
Due: format-py, typecheck-py

Add flavor to google
  gateway/src/providers/google/index.ts
Due: format-ts, lint-ts, typecheck-ts

tests(openai): test responses vs chat
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

tests(openai): test responses vs chat (#73)
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix(proxy): drop org/proj identifiers from response headers
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
Due: format-ts, lint-ts, typecheck-ts

Move the responseHeaders logic up
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

fix(proxy): drop org/proj identifiers from response headers (#74)
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
Due: format-ts, lint-ts, typecheck-ts

fix: use x-api-key header for Anthropic authentication
  gateway/src/providers/anthropic.ts
Due: format-ts, lint-ts, typecheck-ts

test(vcr): hide AWS secret on headers
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/730cb860c2314477e9522a81cfc6a426d95100e670c17f661d05499461cf830c.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py

test(vcr): hide AWS secret on headers (#76)
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/730cb860c2314477e9522a81cfc6a426d95100e670c17f661d05499461cf830c.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py

Support anthropic via vertex
  examples/pai_anthropic_vertex.py
  gateway/package.json
  gateway/src/providers/google/index.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Support Anthropic via Vertex (#72)
  examples/pai_anthropic_vertex.py
  gateway/package.json
  gateway/src/providers/google/index.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix proxy path, replace proxyRegex with proxyPrefixLength
  deploy/src/index.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/providers/default.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/setup.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

fix proxy path, replace `proxyRegex` with `proxyPrefixLength` (#77)
  deploy/src/index.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/providers/default.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/setup.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

add org id
  deploy/src/db.ts
  gateway/src/providers/default.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

fix tests
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

add org id (#78)
  deploy/src/db.ts
  gateway/src/providers/default.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Path conditions:
  format-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  lint-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  typecheck-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  format-py: any of: \.py$
  typecheck-py: any of: \.py$
