Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell

  - repo: local
    hooks:
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: lint-ts
        name: lint typescript
        entry: make
        args: [lint-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

gateway tests
  deploy/package.json
  deploy/src/index.ts
  deploy/test/index.spec.ts
  gateway/eslint.config.mjs
  gateway/limits-schema.sql
  gateway/package.json
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/tsconfig.json
  gateway/test/worker.ts
  gateway/test/wrangler.jsonc
  gateway/vitest.config.mts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

fix snapshots and how tests are called
  .github/workflows/ci.yml
  deploy/package.json
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  gateway/vitest.config.mts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

avoid duplicated tests
  deploy/test/index.spec.ts
Due: format-ts, lint-ts, typecheck-ts

move dependencies around
  deploy/package.json
  deploy/test/tsconfig.json
  gateway/src/index.ts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

set wrangler compat
  deploy/wrangler.jsonc
  gateway/test/wrangler.jsonc
Due: none

Refactor testing (#28)
  .github/workflows/ci.yml
  deploy/package.json
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/wrangler.jsonc
  gateway/eslint.config.mjs
  gateway/limits-schema.sql
  gateway/package.json
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/index.ts
  gateway/src/providers/test.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/tsconfig.json
  gateway/test/worker.ts
  gateway/test/wrangler.jsonc
  gateway/vitest.config.mts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

fix expiration logic
  gateway/eslint.config.mjs
  gateway/package.json
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/test/index.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

tests for exceeding limit
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/tsconfig.json
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

fix tests and fetch
  gateway/src/providers/default.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

Replace `active` by `status` (#14)
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/eslint.config.mjs
  gateway/limits-schema.sql
  gateway/package.json
  gateway/src/auth.ts
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/tsconfig.json
  gateway/test/worker.ts
  proxy-vcr/proxy_vcr/cassettes/c29d6d90116e14f9e4212c06ce4f8df72c11cc6e71c9437976e5a50a0f12ade5.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix test snapshots
  deploy/vitest.config.mts
  gateway/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts

fix test snapshots (#29)
  deploy/vitest.config.mts
  gateway/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts

better limit logic
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/test/index.spec.ts
Due: format-ts, lint-ts, typecheck-ts

fix storing key status
  deploy/src/db.ts
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

better limit logic (#30)
  deploy/src/db.ts
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

move eslint to root so it covers deploy
  .prettierignore
  deploy/package.json
  deploy/src/db.ts
  deploy/test/env.d.ts
  deploy/test/index.spec.ts
  deploy/test/tsconfig.json
  deploy/tsconfig.json
  eslint.config.mjs
  gateway/package.json
  gateway/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

Move eslint to root so it covers deploy (#31)
  .prettierignore
  deploy/package.json
  deploy/src/db.ts
  deploy/test/env.d.ts
  deploy/test/index.spec.ts
  deploy/test/tsconfig.json
  deploy/tsconfig.json
  eslint.config.mjs
  gateway/package.json
  gateway/tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

better index page
  gateway/src/index.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

correct content-type, add more tests
  deploy/test/index.spec.ts
  gateway/src/index.ts
  gateway/test/index.spec.ts
Due: format-ts, lint-ts, typecheck-ts

better index page (#33)
  deploy/test/index.spec.ts
  gateway/src/index.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

updating limits
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/test/index.spec.ts
Due: format-ts, lint-ts, typecheck-ts

switch to composite primary keys for spend
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/types.ts
  deploy/test.config.ts
  eslint.config.mjs
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/tsconfig.json
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

add status endpoint
  deploy/src/index.ts
  deploy/src/status.ts
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/test/index.spec.ts
Due: format-ts, lint-ts, typecheck-ts

auth for status endpoint
  .pre-commit-config.yaml
  deploy/example.env.local
  deploy/src/index.ts
  deploy/src/status.ts
  deploy/test/env.d.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts

Add OTel attributes
  examples/pai_anthropic.py
  gateway/src/gateway.ts
  gateway/src/otelAttributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add OTel attributes
  gateway/generate-genai-types.ts
  gateway/package.json
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/otel/genai-input-messages.d.ts
  gateway/src/otel/genai-output-messages.d.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/groq.ts
  gateway/test/index.spec.ts.snap
  gateway/test/tsconfig.json
  gateway/tsconfig.json
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

drop console log
  gateway/src/otel/index.ts
Due: format-ts, lint-ts, typecheck-ts

Update test snapshots
  deploy/test/index.spec.ts.snap
  gateway/test/index.spec.ts.snap
Due: none

undo tsconfig.json
  gateway/test/tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

fix test
  gateway/src/providers/anthropic.ts
  gateway/test/index.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

Use safe
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

updating limits (#32)
  .pre-commit-config.yaml
  deploy/example.config.ts
  deploy/example.env.local
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/src/status.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/env.d.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  eslint.config.mjs
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/tsconfig.json
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Add OTel attributes (#34)
  deploy/test/index.spec.ts.snap
  examples/pai_anthropic.py
  gateway/generate-genai-types.ts
  gateway/package.json
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/otel/genai-input-messages.d.ts
  gateway/src/otel/genai-output-messages.d.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/groq.ts
  gateway/test/index.spec.ts.snap
  gateway/tsconfig.json
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Set objectWrap to 'collapse'
  .zed/settings.json
  deploy/example.config.ts
  deploy/src/index.ts
  deploy/src/status.ts
  deploy/test.config.ts
  deploy/tsconfig.json
  deploy/vitest.config.mts
  deploy/wrangler.jsonc
  eslint.config.mjs
  gateway/src/auth.ts
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel/attributes.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/test.ts
  gateway/test/index.spec.ts
  gateway/test/worker.ts
  gateway/test/wrangler.jsonc
  gateway/tsconfig.json
  gateway/vitest.config.mts
  package.json
Due: format-ts, lint-ts, typecheck-ts

Set objectWrap to 'collapse' (#35)
  .zed/settings.json
  deploy/example.config.ts
  deploy/src/index.ts
  deploy/src/status.ts
  deploy/test.config.ts
  deploy/tsconfig.json
  deploy/vitest.config.mts
  deploy/wrangler.jsonc
  eslint.config.mjs
  gateway/src/auth.ts
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel/attributes.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/test.ts
  gateway/test/index.spec.ts
  gateway/test/worker.ts
  gateway/test/wrangler.jsonc
  gateway/tsconfig.json
  gateway/vitest.config.mts
  package.json
Due: format-ts, lint-ts, typecheck-ts

Add input messages
  examples/assets/kiwi.jpg
  examples/pai_anthropic_otel.py
  gateway/generate-genai-types.ts
  gateway/package.json
  gateway/src/otel/attributes.ts
  gateway/src/otel/genai-input-messages.d.ts
  gateway/src/otel/genai-output-messages.d.ts
  gateway/src/otel/genai.d.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(anthropic): map `gen_ai.input.messages` (#36)
  examples/assets/kiwi.jpg
  examples/pai_anthropic_otel.py
  gateway/generate-genai-types.ts
  gateway/package.json
  gateway/src/otel/attributes.ts
  gateway/src/otel/genai-input-messages.d.ts
  gateway/src/otel/genai-output-messages.d.ts
  gateway/src/otel/genai.d.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(anthropic): add thinking part to otel
  .prettierignore
  eslint.config.mjs
  examples/pai_anthropic_otel.py
  gateway/src/providers/anthropic.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add setupFiles
  gateway/test/conftest.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts

feat(anthropic): add thinking part to otel (#37)
  .prettierignore
  eslint.config.mjs
  examples/pai_anthropic_otel.py
  gateway/src/providers/anthropic.ts
  gateway/test/conftest.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py
