Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell

  - repo: local
    hooks:
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: lint-ts
        name: lint typescript
        entry: make
        args: [lint-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

Emit span on unable to calculate
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Emit span on unable to calculate (#106)
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Improve extraction
  examples/pai_openai_stream.py
  gateway/src/api/anthropic.ts
  gateway/src/api/base.ts
  gateway/src/api/chat.ts
  gateway/src/gateway.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/openai.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Update the whole thing
  gateway/src/api/anthropic.ts
  gateway/src/api/base.ts
  gateway/src/api/chat.ts
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/483a00abdb8152baa3b7531d130fb1733e6825e77c7b4bc1d679ec9742848b6b.yaml
  proxy-vcr/proxy_vcr/cassettes/4c11824387b8f43920a23ef5196d9e437350f0b3c6708ef3212c1e50b52a9b35.yaml
  proxy-vcr/proxy_vcr/cassettes/77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/anthropic-19999fbce5075795898578e3a57ad7330c7b9ee6f6f98c73f2237d050257214f.yaml
  proxy-vcr/proxy_vcr/cassettes/anthropic-4c11824387b8f43920a23ef5196d9e437350f0b3c6708ef3212c1e50b52a9b35.yaml
  proxy-vcr/proxy_vcr/cassettes/anthropic-9752c34227c474614a0161c842bd67313be0932354998df27c07a1b9d8b29eaa.yaml
  proxy-vcr/proxy_vcr/cassettes/bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/bedrock-730cb860c2314477e9522a81cfc6a426d95100e670c17f661d05499461cf830c.yaml
  proxy-vcr/proxy_vcr/cassettes/e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/cassettes/groq-ba2f477133ec293f18d882d9fc5ac864036811ad9270ae2d5771e484d4b5a5c8.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

update snapshots
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/anthropic-4c11824387b8f43920a23ef5196d9e437350f0b3c6708ef3212c1e50b52a9b35.yaml
Due: none

update test
  deploy/test/index.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
Due: none

Improve extraction (#107)
  deploy/test/index.spec.ts.snap
  examples/pai_openai_stream.py
  gateway/src/api/anthropic.ts
  gateway/src/api/base.ts
  gateway/src/api/chat.ts
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/483a00abdb8152baa3b7531d130fb1733e6825e77c7b4bc1d679ec9742848b6b.yaml
  proxy-vcr/proxy_vcr/cassettes/4c11824387b8f43920a23ef5196d9e437350f0b3c6708ef3212c1e50b52a9b35.yaml
  proxy-vcr/proxy_vcr/cassettes/anthropic-19999fbce5075795898578e3a57ad7330c7b9ee6f6f98c73f2237d050257214f.yaml
  proxy-vcr/proxy_vcr/cassettes/anthropic-4c11824387b8f43920a23ef5196d9e437350f0b3c6708ef3212c1e50b52a9b35.yaml
  proxy-vcr/proxy_vcr/cassettes/anthropic-9752c34227c474614a0161c842bd67313be0932354998df27c07a1b9d8b29eaa.yaml
  proxy-vcr/proxy_vcr/cassettes/bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/bedrock-730cb860c2314477e9522a81cfc6a426d95100e670c17f661d05499461cf830c.yaml
  proxy-vcr/proxy_vcr/cassettes/e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/cassettes/groq-ba2f477133ec293f18d882d9fc5ac864036811ad9270ae2d5771e484d4b5a5c8.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

chore: remove unused `handleData`
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

chore: remove unused `handleData` (#108)
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Improve non streaming flow
  gateway/src/api/anthropic.ts
  gateway/src/api/base.ts
  gateway/src/api/bedrock.ts
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/responses.ts
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Improve non streaming flow 2
  gateway/package.json
  gateway/src/api/chat.ts
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add API key
  deploy/src/types.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

make methods public
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

make some more db types public
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

tests: pass newline on the VCR proxy server
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

drop headers
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py

tests: pass newline on the VCR proxy server (#111)
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add `apiTypes` and `routingGroups`
  deploy/example.config.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

export more stuff from db.ts
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

Update repo
  gateway/test/providers/openai.spec.ts
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

refactor(otel): simplify otel calls on whitelisted endpoints (#109)
  gateway/package.json
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Check if header starts with paig on both headers
  gateway/src/auth.ts
Due: format-ts, lint-ts, typecheck-ts

feat(google): support streaming
  deploy/test/index.spec.ts.snap
  gateway/package.json
  gateway/src/api/google.ts
  gateway/src/index.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/test/env.d.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/google-vertex-3fc5cd750ad872a644781b8d4a149f2d8f685bbd2122866dcb4714cf6c38082c.yaml
  proxy-vcr/proxy_vcr/cassettes/google-vertex-stream.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

drop cookie header
  proxy-vcr/proxy_vcr/cassettes/openai-3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py

Update routingGroup
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

format
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

Add `apiTypes` and `routingGroups` (#112)
  deploy/example.config.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

fix api types
  deploy/example.config.ts
  examples/ex_openai.py
  examples/pai_anthropic.py
  examples/pai_anthropic_builtin.py
  examples/pai_anthropic_otel.py
  examples/pai_anthropic_stream.py
  examples/pai_anthropic_vertex.py
  examples/pai_google.py
  examples/pai_google_stream.py
  examples/pai_groq.py
  examples/pai_openai.py
  examples/pai_openai_responses.py
  examples/pai_openai_stream.py
  examples/pyproject.toml
  gateway/src/gateway.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/test/worker.ts
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix api types (#116)
  deploy/example.config.ts
  examples/ex_openai.py
  examples/pai_anthropic.py
  examples/pai_anthropic_builtin.py
  examples/pai_anthropic_otel.py
  examples/pai_anthropic_stream.py
  examples/pai_anthropic_vertex.py
  examples/pai_google.py
  examples/pai_google_stream.py
  examples/pai_groq.py
  examples/pai_openai.py
  examples/pai_openai_responses.py
  examples/pai_openai_stream.py
  examples/pyproject.toml
  gateway/src/gateway.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/test/worker.ts
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add Bedrock to `example.config.ts`
  deploy/example.config.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Add timeout to CI
  .github/workflows/ci.yml
Due: none

Add Bedrock to `example.config.ts` (#117)
  deploy/example.config.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Add timeout to CI (#118)
  .github/workflows/ci.yml
Due: none

Pass tests on the pipeline
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/test/setup.ts
  gateway/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts

Update test
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

feat(google): support streaming (#114)
  deploy/test/index.spec.ts.snap
  gateway/package.json
  gateway/src/api/google.ts
  gateway/src/index.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/test/env.d.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/test/setup.ts
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/google-vertex-3fc5cd750ad872a644781b8d4a149f2d8f685bbd2122866dcb4714cf6c38082c.yaml
  proxy-vcr/proxy_vcr/cassettes/google-vertex-stream.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-bb9af470db8a6f5d27e4bec9910973ab2560c553630e55f5dd956224b9fc39cd.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-e49ad150dd6581653dd61fbb73921b255ff9f19310f99aba15e749007fc8daaa.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-fd2589389653eb8d00f2dec475e668144ac84c9ab6552fefa490c87ad778b5b0.yaml
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

tests(snapshot): deserialize request on snapshot
  gateway/test/otel.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/groq.spec.ts
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

tests(snapshot): deserialize request on snapshot (#119)
  gateway/test/otel.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/groq.spec.ts
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

tests(google): update google snapshots
  gateway/test/providers/google.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py
