Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell

  - repo: local
    hooks:
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: lint-ts
        name: lint typescript
        entry: make
        args: [lint-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

drop comment
  gateway/test/setup.ts
Due: format-ts, lint-ts, typecheck-ts

Add support for load balancing
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/types.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/routing.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Fix issue Marcelo noticed
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

fix(groq): calculate usage on streaming
  gateway/src/providers/groq.ts
  gateway/test/providers/groq.spec.ts
  gateway/test/providers/groq.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/groq-2f224a6a0ee54dbc66875193523cc7fb58b0600a5d409f2080a744ac07358e5f.yaml
Due: format-ts, lint-ts, typecheck-ts

fix(groq): calculate usage on streaming (#146)
  gateway/src/providers/groq.ts
  gateway/test/providers/groq.spec.ts
  gateway/test/providers/groq.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/groq-2f224a6a0ee54dbc66875193523cc7fb58b0600a5d409f2080a744ac07358e5f.yaml
Due: format-ts, lint-ts, typecheck-ts

feat(google-vertex): run anthropic on vertex (#143)
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/worker.ts
  proxy-vcr/proxy_vcr/cassettes/google-vertex-anthropic-client.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(openai): support embeddings
  gateway/src/api/embeddings.ts
  gateway/src/api/index.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-8e81918655d25d21e5f24751d9a09701f16b8aba0c9c1a241245b108a30fde76.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(openai): support embeddings (#147)
  gateway/src/api/embeddings.ts
  gateway/src/api/index.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-8e81918655d25d21e5f24751d9a09701f16b8aba0c9c1a241245b108a30fde76.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix(stream): block api key on streaming
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
Due: format-ts, lint-ts, typecheck-ts

block api key
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
Due: format-ts, lint-ts, typecheck-ts

fix(stream): block api key on streaming (#148)
  gateway/src/gateway.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Address feedback
  deploy/src/db.ts
  deploy/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Add support for load balancing (#145)
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/types.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/routing.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

feat(openai): inject `stream_options` in chat completions
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-stream-options.yaml
Due: format-ts, lint-ts, typecheck-ts

add more test
  gateway/src/providers/openai.ts
  gateway/test/providers/openai.spec.ts
Due: format-ts, lint-ts, typecheck-ts

lint
  gateway/test/providers/openai.spec.ts
Due: format-ts, lint-ts, typecheck-ts

feat(openai): inject `stream_options` in chat completions (#149)
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-stream-options.yaml
Due: format-ts, lint-ts, typecheck-ts

fix(openai): don't inject on `stream=false`
  gateway/src/providers/default.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-stream-options-stream-false.yaml
Due: format-ts, lint-ts, typecheck-ts

Apply suggestion from @Kludex
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

fix(openai): don't inject on `stream=false` (#150)
  gateway/src/providers/openai.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-stream-options-stream-false.yaml
Due: format-ts, lint-ts, typecheck-ts

fix(otel): scrub `writeToken`
  deploy/src/index.ts
Due: format-ts, lint-ts, typecheck-ts

fix(otel): scrub `writeToken` (#151)
  deploy/src/index.ts
Due: format-ts, lint-ts, typecheck-ts

Fallback on 403
  gateway/src/gateway.ts
  gateway/test/gateway.spec.ts
Due: format-ts, lint-ts, typecheck-ts

fix(fallback): google vertex now works properly when fall backed by anthropic
  examples/pai_anthropic.py
  gateway/src/gateway.ts
  gateway/src/providers/google/index.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Fallback on 403 (#152)
  gateway/src/gateway.ts
  gateway/test/gateway.spec.ts
Due: format-ts, lint-ts, typecheck-ts

regenearte cassette
  gateway/test/providers/google.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/google-vertex-anthropic-client.yaml
Due: none

fix(fallback): google vertex now works properly when fall backed by anthropic (#153)
  examples/pai_anthropic.py
  gateway/src/providers/google/index.ts
  gateway/test/providers/google.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/google-vertex-anthropic-client.yaml
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(bedrock): support fallback from anthropic
  examples/pai_anthropic_bedrock.py
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix bedrock
  examples/pai_anthropic_bedrock.py
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

udpate
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

feat(bedrock): support fallback from anthropic (#155)
  examples/pai_anthropic_bedrock.py
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(huggingface): add HuggingFace provider
  deploy/example.config.ts
  deploy/example.env.local
  gateway/src/providers/huggingface.ts
  gateway/src/providers/index.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

feat(azure): add Azure provider
  examples/ex_azure.py
  gateway/src/providers/azure.ts
  gateway/src/providers/index.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(azure): add Azure provider
  deploy/example.config.ts
  deploy/example.env.local
  gateway/src/providers/azure.ts
Due: format-ts, lint-ts, typecheck-ts

Commit the dev config
  .gitignore
  deploy/check_config.sh
  deploy/ensure_config.sh
  deploy/package.json
  deploy/src/config-dev.ts
Due: format-ts, lint-ts, typecheck-ts

Support model name replacements
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/openai.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

add test
  gateway/src/providers/google/index.ts
  gateway/test/gateway.spec.ts
  proxy-vcr/proxy_vcr/cassettes/google-vertex-7d8e53cf9446c947696efe48adcc8cca62ebff9f55f315b61c245369615ca92a.yaml
Due: format-ts, lint-ts, typecheck-ts

add vcr file
  gateway/test/gateway.spec.ts
  proxy-vcr/proxy_vcr/cassettes/google-vertex-fallback.yaml
Due: format-ts, lint-ts, typecheck-ts

push -n
  proxy-vcr/proxy_vcr/cassettes/google-vertex-7d8e53cf9446c947696efe48adcc8cca62ebff9f55f315b61c245369615ca92a.yaml
Due: none

push -n
  gateway/test/gateway.spec.ts
Due: format-ts, lint-ts, typecheck-ts
