Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell

  - repo: local
    hooks:
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: lint-ts
        name: lint typescript
        entry: make
        args: [lint-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

tests: organize test suite
  gateway/test/conftest.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/tsconfig.json
Due: format-ts, lint-ts, typecheck-ts

Use setup.ts instead of conftest.ts
  gateway/test/index.spec.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/setup.ts
  gateway/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts

tests: organize test suite (#38)
  gateway/test/conftest.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/setup.ts
  gateway/test/tsconfig.json
  gateway/vitest.config.mts
Due: format-ts, lint-ts, typecheck-ts

Add more OpenTelemetry attributes
  examples/pai_anthropic_otel.py
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/0518055b2bff8e0539c635b3e45db71bff240a18d5c03a41575282762deaac63.yaml
  proxy-vcr/proxy_vcr/cassettes/7eb09eb0fafe778fbcbca58b3c383b80f5cc9ce762b721e3191eeea7171e267c.yaml
  proxy-vcr/proxy_vcr/cassettes/9752c34227c474614a0161c842bd67313be0932354998df27c07a1b9d8b29eaa.yaml
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Update snapshots
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

refactor: use proper generics around request/response bodies
  deploy/test/index.spec.ts.snap
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
Due: format-ts, lint-ts, typecheck-ts

update snapshots
  deploy/test/index.spec.ts.snap
Due: none

Add more OpenTelemetry attributes (#39)
  deploy/test/index.spec.ts.snap
  examples/pai_anthropic_otel.py
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/0518055b2bff8e0539c635b3e45db71bff240a18d5c03a41575282762deaac63.yaml
  proxy-vcr/proxy_vcr/cassettes/7eb09eb0fafe778fbcbca58b3c383b80f5cc9ce762b721e3191eeea7171e267c.yaml
  proxy-vcr/proxy_vcr/cassettes/9752c34227c474614a0161c842bd67313be0932354998df27c07a1b9d8b29eaa.yaml
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

drop new line
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

use default generics
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
Due: format-ts, lint-ts, typecheck-ts

update otelEvents
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

refactor: use proper generics around request/response bodies (#40)
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/index.ts
Due: format-ts, lint-ts, typecheck-ts

feat(openai): add genai otel attributes
  deploy/vitest.config.mts
  gateway/package.json
  gateway/src/otel/genai.d.ts
  gateway/src/providers/openai.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
Due: format-ts, lint-ts, typecheck-ts

feat(openai): add genai otel attributes (#41)
  deploy/vitest.config.mts
  gateway/package.json
  gateway/src/otel/genai.d.ts
  gateway/src/providers/openai.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
Due: format-ts, lint-ts, typecheck-ts

feat(vertex): support anthropic models
  examples/ex_openai.py
  examples/pai_anthropic_vertex.py
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  proxy-vcr/proxy_vcr/main.py
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

refactor: move `gen_ai.response.id` to the `GenAIAttributesExtractor`
  deploy/test/index.spec.ts.snap
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

refactor: move `gen_ai.response.id` to the `GenAIAttributesExtractor`
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

refactor: move `gen_ai.response.id` to the `GenAIAttributesExtractor` (#43)
  deploy/test/index.spec.ts.snap
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

chore: add plugin to sort imports
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/src/status.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  eslint.config.mjs
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel/attributes.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/test/index.spec.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/setup.ts
  gateway/test/worker.ts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

chore: add plugin to sort imports (#44)
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/src/status.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/index.spec.ts
  eslint.config.mjs
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel/attributes.ts
  gateway/src/otel/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/test/index.spec.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/setup.ts
  gateway/test/worker.ts
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

feat(groq): add genai attributes
  examples/pai_groq.py
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/openai.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/groq.spec.ts
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/0518055b2bff8e0539c635b3e45db71bff240a18d5c03a41575282762deaac63.yaml
  proxy-vcr/proxy_vcr/cassettes/3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
  proxy-vcr/proxy_vcr/cassettes/483a00abdb8152baa3b7531d130fb1733e6825e77c7b4bc1d679ec9742848b6b.yaml
  proxy-vcr/proxy_vcr/cassettes/58f6de5f5e3473d1489ba899b18c9289931ad85108338fee158d800d478d4936.yaml
  proxy-vcr/proxy_vcr/cassettes/77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/7eb09eb0fafe778fbcbca58b3c383b80f5cc9ce762b721e3191eeea7171e267c.yaml
  proxy-vcr/proxy_vcr/cassettes/81843e895169a6d27f4226f59a7ae808065cc214f22e0ed167b51e729051d4f3.yaml
  proxy-vcr/proxy_vcr/cassettes/8d195c0b65fbab3348d8f89b17b98dd6fbba0e15db026a1cd7b986f3fa15a2a3.yaml
  proxy-vcr/proxy_vcr/cassettes/9752c34227c474614a0161c842bd67313be0932354998df27c07a1b9d8b29eaa.yaml
  proxy-vcr/proxy_vcr/cassettes/ba2f477133ec293f18d882d9fc5ac864036811ad9270ae2d5771e484d4b5a5c8.yaml
  proxy-vcr/proxy_vcr/cassettes/c29d6d90116e14f9e4212c06ce4f8df72c11cc6e71c9437976e5a50a0f12ade5.yaml
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(groq): add genai attributes (#45)
  examples/pai_groq.py
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/openai.ts
  gateway/test/index.spec.ts
  gateway/test/index.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/groq.spec.ts
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/0518055b2bff8e0539c635b3e45db71bff240a18d5c03a41575282762deaac63.yaml
  proxy-vcr/proxy_vcr/cassettes/3bc303f40e7bb2fd35f89381e2a0b1845c054b1f6879bc2daddf8f97bd89b60d.yaml
  proxy-vcr/proxy_vcr/cassettes/483a00abdb8152baa3b7531d130fb1733e6825e77c7b4bc1d679ec9742848b6b.yaml
  proxy-vcr/proxy_vcr/cassettes/58f6de5f5e3473d1489ba899b18c9289931ad85108338fee158d800d478d4936.yaml
  proxy-vcr/proxy_vcr/cassettes/77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/7eb09eb0fafe778fbcbca58b3c383b80f5cc9ce762b721e3191eeea7171e267c.yaml
  proxy-vcr/proxy_vcr/cassettes/81843e895169a6d27f4226f59a7ae808065cc214f22e0ed167b51e729051d4f3.yaml
  proxy-vcr/proxy_vcr/cassettes/8d195c0b65fbab3348d8f89b17b98dd6fbba0e15db026a1cd7b986f3fa15a2a3.yaml
  proxy-vcr/proxy_vcr/cassettes/9752c34227c474614a0161c842bd67313be0932354998df27c07a1b9d8b29eaa.yaml
  proxy-vcr/proxy_vcr/cassettes/ba2f477133ec293f18d882d9fc5ac864036811ad9270ae2d5771e484d4b5a5c8.yaml
  proxy-vcr/proxy_vcr/cassettes/c29d6d90116e14f9e4212c06ce4f8df72c11cc6e71c9437976e5a50a0f12ade5.yaml
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(google): add genai otel attributes
  examples/pai_google.py
  gateway/package.json
  gateway/src/otel/genai.d.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

update tests
  deploy/test/index.spec.ts.snap
Due: none

feat(google): add genai otel attributes (#46)
  deploy/test/index.spec.ts.snap
  examples/pai_google.py
  gateway/package.json
  gateway/src/otel/genai.d.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/google/otel.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(anthropic): support builtin tools in genai attributes
  examples/pai_anthropic_builtin.py
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/vitest.config.mts
  proxy-vcr/proxy_vcr/cassettes/4c11824387b8f43920a23ef5196d9e437350f0b3c6708ef3212c1e50b52a9b35.yaml
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(anthropic): support builtin tools in genai attributes (#47)
  examples/pai_anthropic_builtin.py
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/vitest.config.mts
  proxy-vcr/proxy_vcr/cassettes/4c11824387b8f43920a23ef5196d9e437350f0b3c6708ef3212c1e50b52a9b35.yaml
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

chore: drop unused `otel.ts` file
  gateway/src/providers/google/otel.ts
Due: format-ts, lint-ts, typecheck-ts

chore: drop unused `otel.ts` file (#48)
  gateway/src/providers/google/otel.ts
Due: format-ts, lint-ts, typecheck-ts

feat(otel): add `builtin` attribute in `ToolCall` and `ToolCallResponse`
  gateway/src/otel/genai.d.ts
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

update tests
  gateway/test/providers/anthropic.spec.ts.snap
Due: none

feat(otel): add `builtin` attribute in `ToolCall` and `ToolCallResponse` (#49)
  gateway/src/otel/genai.d.ts
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

refactor: create APIs concept
  gateway/src/api/anthropic.ts
  gateway/src/api/base.ts
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/harmony.ts
  gateway/src/api/index.ts
  gateway/src/api/responses.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

The TypeScript Expert
  gateway/src/api/anthropic.ts
  gateway/src/api/base.ts
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/harmony.ts
  gateway/src/api/index.ts
  gateway/src/api/responses.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/openai.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

Drop otelEvents
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Drop otelEvents
  deploy/test/index.spec.ts.snap
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: none

refactor: create APIs concept (#50)
  deploy/test/index.spec.ts.snap
  gateway/src/api/anthropic.ts
  gateway/src/api/base.ts
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/harmony.ts
  gateway/src/api/index.ts
  gateway/src/api/responses.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

chore: drop `HarmonyAPI`
  gateway/src/api/harmony.ts
  gateway/src/api/index.ts
Due: format-ts, lint-ts, typecheck-ts

chore: drop `HarmonyAPI` (#51)
  gateway/src/api/harmony.ts
  gateway/src/api/index.ts
Due: format-ts, lint-ts, typecheck-ts

feat(bedrock): initial setup
  gateway/src/api/bedrock.ts
  gateway/src/api/index.ts
  gateway/src/providers/bedrock.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts
