Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-install, format-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: npm-install
        name: format install
        entry: npm
        args: [install]
        language: system
        types_or: [json]
        pass_filenames: false
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

Fix more models
  gateway/src/providers/bedrock.ts
Due: format-ts, typecheck-ts

more
  examples/pai_anthropic.py
Due: format-py, typecheck-py

add more model names (#183)
  gateway/src/providers/bedrock.ts
Due: format-ts, typecheck-ts

Actually fix streaming
  examples/pai_anthropic.py
  examples/pai_anthropic_stream.py
  gateway/src/api/anthropic.ts
  gateway/src/handler.ts
  gateway/src/providers/base.ts
  gateway/src/providers/bedrock.ts
Due: format-ts, typecheck-ts, format-py, typecheck-py

modify pipeline
  .github/workflows/ci.yml
Due: none

Fix tests
  gateway/src/handler.ts
Due: format-ts, typecheck-ts

push
  gateway/src/api/anthropic.ts
  gateway/src/handler.ts
Due: format-ts, typecheck-ts

Fix handling of other APIs
  gateway/src/handler.ts
  gateway/src/providers/bedrock.ts
Due: format-ts, typecheck-ts

Bump genai-prices
  examples/pai_anthropic.py
  gateway/package.json
  package-lock.json
Due: npm-install, format-ts, typecheck-ts, format-py, typecheck-py

fix
  examples/pai_anthropic.py
  examples/pai_anthropic_stream.py
  gateway/src/api/anthropic.ts
Due: format-ts, typecheck-ts, format-py, typecheck-py

fix where we get the name
  gateway/src/handler.ts
  gateway/src/providers/utils.ts
Due: format-ts, typecheck-ts
