Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

format-ts:
  name: format typescript
  entry: make
  args:
  - format-ts
  language: system
  pass_filenames: false

lint-ts:
  name: lint typescript
  entry: make
  args:
  - lint-ts
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: make
  args:
  - typecheck-ts
  language: system
  pass_filenames: false

format-py:
  name: format python
  entry: make
  args:
  - format-py
  language: system
  pass_filenames: false

typecheck-py:
  name: typecheck python
  entry: make
  args:
  - typecheck-py
  language: system
  pass_filenames: false

fix google
  deploy/example.config.ts
  examples/pai_google.py
  examples/pai_groq.py
  examples/pai_openai.py
  gateway/src/providers/google/index.ts
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Fix google URL (#15)
  deploy/example.config.ts
  examples/pai_google.py
  examples/pai_groq.py
  examples/pai_openai.py
  gateway/src/providers/google/index.ts
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

cleanup python envs
  .github/workflows/ci.yml
  Makefile
  examples/pai_google.py
  examples/pyproject.toml
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-py, typecheck-py

fix "make run-proxy-vcr"
  Makefile
Due: none

cleanup python envs (#16)
  .github/workflows/ci.yml
  Makefile
  examples/pai_google.py
  examples/pyproject.toml
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-py, typecheck-py

uprev genai-prices
  deploy/package.json
  gateway/package.json
  package-lock.json
  pyproject.toml
Due: format-ts, lint-ts, typecheck-ts

uprev `genai-prices` (#17)
  deploy/package.json
  gateway/package.json
  package-lock.json
  pyproject.toml
Due: format-ts, lint-ts, typecheck-ts

Return status code
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py

uprev genai-prices
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

uprev genai-prices (#18)
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

fix uv message
  examples/pyproject.toml
  uv.lock
Due: none

fix uv message (#19)
  examples/pyproject.toml
  uv.lock
Due: none

single SQL query to increment and check spend
  .gitignore
  README.md
  gateway/src/db.ts
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

rename vars
  gateway/src/db.ts
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

single SQL query to increment and check spend (#20)
  .gitignore
  README.md
  gateway/src/db.ts
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

enable smart placement
  deploy/wrangler.jsonc
Due: none

Bump PydanticAI
  deploy/test.config.ts
  deploy/wrangler.jsonc
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/58f6de5f5e3473d1489ba899b18c9289931ad85108338fee158d800d478d4936.yaml
  proxy-vcr/proxy_vcr/cassettes/81843e895169a6d27f4226f59a7ae808065cc214f22e0ed167b51e729051d4f3.yaml
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

drop logfire from proxy
  proxy-vcr/pyproject.toml
  uv.lock
Due: none

Bump PydanticAI (#21)
  deploy/test.config.ts
  deploy/wrangler.jsonc
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/58f6de5f5e3473d1489ba899b18c9289931ad85108338fee158d800d478d4936.yaml
  proxy-vcr/proxy_vcr/cassettes/81843e895169a6d27f4226f59a7ae808065cc214f22e0ed167b51e729051d4f3.yaml
  proxy-vcr/proxy_vcr/main.py
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add test for groq
  deploy/package.json
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/8d195c0b65fbab3348d8f89b17b98dd6fbba0e15db026a1cd7b986f3fa15a2a3.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add test for groq (#22)
  deploy/package.json
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/77d5759136cb2982b73adf57a010bc66d6ed83681bdf01439a369e81765faeef.yaml
  proxy-vcr/proxy_vcr/cassettes/8d195c0b65fbab3348d8f89b17b98dd6fbba0e15db026a1cd7b986f3fa15a2a3.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add test for Anthropic Vertex
  deploy/package.json
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add `AnthropicProvider`
  deploy/example.config.ts
  deploy/example.env.local
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  examples/pai_anthropic.py
  gateway/package.json
  gateway/src/providers/anthropic.ts
  gateway/src/providers/index.ts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/483a00abdb8152baa3b7531d130fb1733e6825e77c7b4bc1d679ec9742848b6b.yaml
  proxy-vcr/proxy_vcr/main.py
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Check if proxy vcr is healthy
  .github/workflows/ci.yml
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py

sleep 2 secs
  .github/workflows/ci.yml
Due: none

remove health check
  .github/workflows/ci.yml
Due: none

Add comment
  deploy/test/index.spec.ts
Due: format-ts, lint-ts, typecheck-ts

Add `AnthropicProvider` (#24)
  deploy/example.config.ts
  deploy/example.env.local
  deploy/test.config.ts
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  deploy/vitest.config.mts
  examples/pai_anthropic.py
  gateway/package.json
  gateway/src/providers/anthropic.ts
  gateway/src/providers/index.ts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/483a00abdb8152baa3b7531d130fb1733e6825e77c7b4bc1d679ec9742848b6b.yaml
  proxy-vcr/proxy_vcr/main.py
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

otel: add `gen_ai.response.id`
  deploy/test/index.spec.ts.snap
  gateway/src/otelAttributes.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
Due: format-ts, lint-ts, typecheck-ts

Update gateway/src/providers/default.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

make it cute
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

fix the google one as well
  gateway/src/providers/google/index.ts
Due: format-ts, lint-ts, typecheck-ts

otel: add `gen_ai.response.id` (#25)
  deploy/test/index.spec.ts.snap
  gateway/src/otelAttributes.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
Due: format-ts, lint-ts, typecheck-ts

npm install in pre-commit
  .pre-commit-config.yaml
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

npm install in pre-commit (#26)
  .pre-commit-config.yaml
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

fixing spend checks
  deploy/limits-schema.sql
  deploy/test/index.spec.ts
  gateway/src/db.ts
  gateway/src/gateway.ts
  proxy-vcr/proxy_vcr/cassettes/c29d6d90116e14f9e4212c06ce4f8df72c11cc6e71c9437976e5a50a0f12ade5.yaml
Due: format-ts, lint-ts, typecheck-ts

add watchfiles and set reload dir
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-py, typecheck-py

add watchfiles and set reload dir (#27)
  proxy-vcr/proxy_vcr/main.py
  proxy-vcr/pyproject.toml
  pyproject.toml
  uv.lock
Due: format-py, typecheck-py

simplify tests
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/src/types.ts
  deploy/test.config.ts
  deploy/test/tsconfig.json
  deploy/vitest.config.mts
  gateway/eslint.config.mjs
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel.ts
  gateway/src/providers/default.ts
  gateway/src/providers/index.ts
  gateway/src/providers/test.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Path conditions:
  format-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  lint-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  typecheck-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  format-py: any of: \.py$
  typecheck-py: any of: \.py$
