Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

format-ts:
  name: format typescript
  entry: make
  args:
  - format-ts
  language: system
  pass_filenames: false

lint-ts:
  name: lint typescript
  entry: make
  args:
  - lint-ts
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: make
  args:
  - typecheck-ts
  language: system
  pass_filenames: false

format-py:
  name: format python
  entry: make
  args:
  - format-py
  language: system
  pass_filenames: false

typecheck-py:
  name: typecheck python
  entry: make
  args:
  - typecheck-py
  language: system
  pass_filenames: false

push
  gateway/test/gateway.spec.ts
Due: format-ts, lint-ts, typecheck-ts

update test
  gateway/test/gateway.spec.ts
Due: format-ts, lint-ts, typecheck-ts

update
  gateway/test/gateway.spec.ts
  gateway/test/setup.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Support model name replacements (#154)
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/openai.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts
  gateway/test/setup.ts
  gateway/test/worker.ts
  proxy-vcr/proxy_vcr/cassettes/google-vertex-fallback.yaml
Due: format-ts, lint-ts, typecheck-ts

fix(otel): drop sensitive headers from user span
  gateway/src/otel/attributes.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

fix(otel): drop sensitive headers from user span (#159)
  gateway/src/otel/attributes.ts
  gateway/test/providers/anthropic.spec.ts.snap
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/google.spec.ts.snap
  gateway/test/providers/groq.spec.ts.snap
  gateway/test/providers/openai.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

fix(google-vertex): only process last chunk for usage
  deploy/example.config.ts
  examples/pai_google_stream_image.py
  gateway/src/api/google.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix(google-vertex): only process last chunk for usage (#160)
  deploy/example.config.ts
  examples/pai_google_stream_image.py
  gateway/src/api/google.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat: add span with org, project and user
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

feat: add span with org, project and user (#161)
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

Use the new logfire API package
  deploy/package.json
  deploy/src/index.ts
  gateway/package.json
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/responses.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel/index.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/utils.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

Follow-up copilot's comment
  deploy/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

Use the new logfire API package (#162)
  deploy/package.json
  deploy/src/index.ts
  gateway/package.json
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/responses.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/otel/index.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/utils.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

feat(anthropic): support chat completions
  examples/ex_anthropic_chat.py
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/anthropic-anthropic-chat-completion.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(anthropic): support chat completions (#163)
  examples/ex_anthropic_chat.py
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/anthropic-anthropic-chat-completion.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add support for azure
  deploy/example.config.ts
  gateway/src/providers/azure.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

add tests
  gateway/test/env.d.ts
  gateway/test/providers/azure.spec.ts
  gateway/test/providers/azure.spec.ts.snap
  gateway/test/worker.ts
  gateway/vitest.config.mts
  proxy-vcr/proxy_vcr/cassettes/azure-358cc480d17298f1874d3260d806b8b282395bbbe5b44f1408bc0e6fe4625339.yaml
  proxy-vcr/proxy_vcr/cassettes/azure-d3a027f470b4f1da6ffb9a81b8306a445928195e90737f13f6948226ba5cad49.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

update tests
  gateway/test/gateway.spec.ts
  gateway/test/worker.ts
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(azure): add Azure provider (#158)
  deploy/example.config.ts
  deploy/example.env.local
  examples/ex_azure.py
  gateway/src/providers/azure.ts
  gateway/src/providers/index.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/azure.spec.ts
  gateway/test/providers/azure.spec.ts.snap
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/azure-358cc480d17298f1874d3260d806b8b282395bbbe5b44f1408bc0e6fe4625339.yaml
  proxy-vcr/proxy_vcr/cassettes/azure-d3a027f470b4f1da6ffb9a81b8306a445928195e90737f13f6948226ba5cad49.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(anthropic): whitelist files endpoint
  examples/assets/sample.pdf
  examples/ex_anthropic_files.py
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(anthropic): whitelist files endpoint (#164)
  examples/assets/sample.pdf
  examples/ex_anthropic_files.py
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

force
  gateway/src/providers/huggingface.ts
Due: format-ts, lint-ts, typecheck-ts

update
  examples/ex_hf_nebius.py
  gateway/src/providers/default.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

refactor: `url()` only returns `string`
  gateway/src/api/bedrock.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/test/providers/google.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

refactor: `url()` only returns `string` (#165)
  gateway/src/api/bedrock.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/test/providers/google.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

Add everything related to huggingface
  examples/ex_huggingface.py
  examples/pai_huggingface.py
  examples/pyproject.toml
  gateway/src/api/base.ts
  gateway/src/providers/default.ts
  gateway/src/providers/huggingface.ts
  gateway/test/env.d.ts
  gateway/test/providers/huggingface.spec.ts
  gateway/test/providers/huggingface.spec.ts.snap
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/huggingface-52d99571f9ebd7cd3b8f121ce7e530b8a81c69ac7102240783df08722646a9b5.yaml
  proxy-vcr/proxy_vcr/cassettes/huggingface-9fbe02785650116bca3cd03a1e1ca204ff7623332b5e833b6f874c960ff851ad.yaml
  proxy-vcr/proxy_vcr/main.py
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

update
  gateway/test/gateway.spec.ts
  gateway/test/providers/huggingface.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/google-vertex-03b921fc7bae301d6705dd3f2024d78197c03013d20951b1501353da6c5b31d9.yaml
  proxy-vcr/proxy_vcr/cassettes/google-vertex-9fcf9b80bd8047b2bbc85458a37f5601f2b20bb5307b34cd0891bc6811df12b2.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

drop cassettes
  proxy-vcr/proxy_vcr/cassettes/google-vertex-03b921fc7bae301d6705dd3f2024d78197c03013d20951b1501353da6c5b31d9.yaml
  proxy-vcr/proxy_vcr/cassettes/google-vertex-9fcf9b80bd8047b2bbc85458a37f5601f2b20bb5307b34cd0891bc6811df12b2.yaml
Due: none

feat(huggingface): add HuggingFace provider (#156)
  deploy/example.config.ts
  deploy/example.env.local
  examples/ex_huggingface.py
  examples/pai_huggingface.py
  examples/pyproject.toml
  gateway/src/api/base.ts
  gateway/src/providers/default.ts
  gateway/src/providers/huggingface.ts
  gateway/src/providers/index.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/huggingface.spec.ts
  gateway/test/providers/huggingface.spec.ts.snap
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/huggingface-52d99571f9ebd7cd3b8f121ce7e530b8a81c69ac7102240783df08722646a9b5.yaml
  proxy-vcr/proxy_vcr/cassettes/huggingface-9fbe02785650116bca3cd03a1e1ca204ff7623332b5e833b6f874c960ff851ad.yaml
  proxy-vcr/proxy_vcr/main.py
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

refactor
  gateway/src/gateway.ts
  gateway/src/handler.ts
  gateway/src/newProviders/anthropic.ts
  gateway/src/newProviders/azure.ts
  gateway/src/newProviders/base.ts
  gateway/src/newProviders/bedrock.ts
  gateway/src/newProviders/google.ts
  gateway/src/newProviders/groq.ts
  gateway/src/newProviders/huggingface.ts
  gateway/src/newProviders/openai.ts
  gateway/src/newProviders/test.ts
  gateway/src/providers/index.ts
Due: format-ts, lint-ts, typecheck-ts

add refactor
  gateway/src/gateway.ts
  gateway/src/handler.ts
  gateway/src/newProviders/anthropic.ts
  gateway/src/newProviders/base.ts
  gateway/src/newProviders/bedrock.ts
  gateway/src/newProviders/google.ts
  gateway/src/newProviders/groq.ts
  gateway/src/newProviders/huggingface.ts
  gateway/src/newProviders/openai.ts
  gateway/src/newProviders/test.ts
  gateway/src/otel/attributes.ts
Due: format-ts, lint-ts, typecheck-ts

refactor
  gateway/src/api/bedrock.ts
  gateway/src/api/embeddings.ts
  gateway/src/gateway.ts
  gateway/src/handler.ts
  gateway/src/index.ts
  gateway/src/newProviders/anthropic.ts
  gateway/src/newProviders/base.ts
  gateway/src/newProviders/bedrock.ts
  gateway/src/newProviders/google.ts
  gateway/src/newProviders/groq.ts
  gateway/src/newProviders/huggingface.ts
  gateway/src/newProviders/openai.ts
  gateway/src/newProviders/test.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/providers/huggingface.spec.ts.snap
  gateway/test/rateLimiter.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

refactor
  gateway/src/api/base.ts
  gateway/src/api/google.ts
  gateway/src/handler.ts
  gateway/src/newProviders/anthropic.ts
  gateway/src/newProviders/azure.ts
  gateway/src/newProviders/bedrock.ts
  gateway/src/newProviders/google.ts
  gateway/src/newProviders/groq.ts
  gateway/src/newProviders/huggingface.ts
  gateway/src/newProviders/openai.ts
  gateway/src/newProviders/test.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/base.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/huggingface.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
  gateway/src/providers/utils.ts
Due: format-ts, lint-ts, typecheck-ts

fix gateway
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

fix everything
  gateway/src/handler.ts
  gateway/src/providers/base.ts
  gateway/src/providers/huggingface.ts
  gateway/test/providers/huggingface.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

more
  gateway/src/handler.ts
Due: format-ts, lint-ts, typecheck-ts

pass tests
  gateway/src/handler.ts
  gateway/src/providers/test.ts
Due: format-ts, lint-ts, typecheck-ts

drop bedrock extractor
  gateway/src/api/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

add isBuiltin
  gateway/src/providers/base.ts
Due: format-ts, lint-ts, typecheck-ts

add requesthandler on index
  gateway/src/index.ts
Due: format-ts, lint-ts, typecheck-ts

Path conditions:
  format-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  lint-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  typecheck-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  format-py: any of: \.py$
  typecheck-py: any of: \.py$
