Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell

  - repo: local
    hooks:
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: lint-ts
        name: lint typescript
        entry: make
        args: [lint-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

Update snapshot
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

tests(google): update google snapshots (#120)
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat: implement fallback
  gateway/src/gateway.ts
  gateway/test/gateway.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Make it cuter
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

feat: implement fallback (#121)
  gateway/src/gateway.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/default.ts
  gateway/test/gateway.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Handle connection error on fallback
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

Apply suggestion from @Kludex
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

Handle connection error on fallback (#122)
  gateway/src/gateway.ts
Due: format-ts, lint-ts, typecheck-ts

Drop unused dependency
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

Drop unused dependency (#123)
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

fix(anthropic): whitelist count tokens endpoint
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/anthropic-6f790aa5ed012c0702a8220c3507790e5636ee2f1c52e66e110d1dac712b2d63.yaml
Due: format-ts, lint-ts, typecheck-ts

fix(anthropic): whitelist count tokens endpoint (#124)
  gateway/src/providers/anthropic.ts
  gateway/test/providers/anthropic.spec.ts
  gateway/test/providers/anthropic.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/anthropic-6f790aa5ed012c0702a8220c3507790e5636ee2f1c52e66e110d1dac712b2d63.yaml
Due: format-ts, lint-ts, typecheck-ts

fix(google-vertex): run anthropic on vertex
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  gateway/test/setup.ts
  gateway/test/worker.ts
  proxy-vcr/proxy_vcr/cassettes/google-vertex-google-vertex-anthropic-client.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Support Anthropic on Google Vertex
  gateway/src/providers/default.ts
  gateway/src/providers/google/index.ts
  gateway/test/providers/google.spec.ts
  gateway/test/providers/google.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/google-vertex-google-vertex-anthropic-client.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

add fetchAbortController for cancelling requests
  gateway/src/providers/default.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Add note and uncomment
  gateway/test/setup.ts
Due: format-ts, lint-ts, typecheck-ts

Update genai-prices to 0.0.36
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

Update genai-prices to 0.0.36 (#126)
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

feat(openai/responses): support streaming
  gateway/src/api/responses.ts
  gateway/test/providers/openai.spec.ts
Due: format-ts, lint-ts, typecheck-ts

feat(openai/responses): support streaming
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-9a8509cd0f73f89247e9c90cd6a287f535166ed3faf0ef79c821c9e7fa417531.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-py, typecheck-py

feat(openai/responses): support streaming (#127)
  gateway/src/api/responses.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/providers/openai.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/openai-9a8509cd0f73f89247e9c90cd6a287f535166ed3faf0ef79c821c9e7fa417531.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(bedrock): support streaming
  gateway/src/api/bedrock.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/bedrock-stream.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(bedrock): support streaming (#128)
  gateway/src/api/bedrock.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/test/providers/bedrock.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/bedrock-stream.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat: provide a way to know if the provider is built-in
  gateway/src/providers/default.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

WIP before abandoning
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts
  gateway/test/worker.ts
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

working on limiter
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/limiter.ts
Due: format-ts, lint-ts, typecheck-ts

remove ResponseError
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/src/utils.ts
  gateway/test/auth.spec.ts
Due: format-ts, lint-ts, typecheck-ts

implement rate limiter and tests
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/rateLimiter.ts
  gateway/test/auth.spec.ts
  gateway/test/rateLimiter.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

remove arg
  gateway/src/auth.ts
  gateway/src/rateLimiter.ts
  gateway/test/rateLimiter.spec.ts
Due: format-ts, lint-ts, typecheck-ts

remove slot arg
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/rateLimiter.ts
  gateway/test/auth.spec.ts
  gateway/test/rateLimiter.spec.ts
Due: format-ts, lint-ts, typecheck-ts

add test sleep
  gateway/src/auth.ts
  gateway/src/providers/test.ts
Due: format-ts, lint-ts, typecheck-ts

adding sleep to test
  gateway/src/providers/test.ts
Due: format-ts, lint-ts, typecheck-ts

make org an string and add orgLimit in ApiKeyInfo
  deploy/src/db.ts
  gateway/src/types.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

fix tests
  gateway/test/gateway.spec.ts.snap
Due: none

fix copilot comments
  gateway/src/auth.ts
  gateway/src/rateLimiter.ts
  gateway/test/rateLimiter.spec.ts
Due: format-ts, lint-ts, typecheck-ts

fix review
  gateway/src/rateLimiter.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts

Rate limiter (#131)
  deploy/src/db.ts
  gateway/src/auth.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/providers/test.ts
  gateway/src/rateLimiter.ts
  gateway/src/types.ts
  gateway/test/auth.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/rateLimiter.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Make genai prices auto-update in the worker
  gateway/package.json
  gateway/src/index.ts
  gateway/src/refreshGenaiPrices.ts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

Changes
  deploy/example.config.ts
  deploy/src/db.ts
  deploy/src/types.ts
  deploy/test.config.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Fix routing group handling
  deploy/example.config.ts
  deploy/test.config.ts
  gateway/src/gateway.ts
  gateway/src/types.ts
Due: format-ts, lint-ts, typecheck-ts
