Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

format-ts:
  name: format typescript
  entry: make
  args:
  - format-ts
  language: system
  pass_filenames: false

lint-ts:
  name: lint typescript
  entry: make
  args:
  - lint-ts
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: make
  args:
  - typecheck-ts
  language: system
  pass_filenames: false

format-py:
  name: format python
  entry: make
  args:
  - format-py
  language: system
  pass_filenames: false

typecheck-py:
  name: typecheck python
  entry: make
  args:
  - typecheck-py
  language: system
  pass_filenames: false

Separate request response cycle and providers responsibility (#166)
  gateway/src/api/base.ts
  gateway/src/api/embeddings.ts
  gateway/src/api/google.ts
  gateway/src/gateway.ts
  gateway/src/handler.ts
  gateway/src/index.ts
  gateway/src/otel/attributes.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/base.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/default.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/huggingface.ts
  gateway/src/providers/index.ts
  gateway/src/providers/openai.ts
  gateway/src/providers/test.ts
  gateway/src/providers/utils.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/bedrock.spec.ts.snap
  gateway/test/rateLimiter.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Support Anthropic models on Azure
  deploy/example.config.ts
  gateway/src/handler.ts
  gateway/src/providers/azure.ts
  gateway/test/providers/azure.spec.ts
  gateway/test/providers/azure.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/azure-9752c34227c474614a0161c842bd67313be0932354998df27c07a1b9d8b29eaa.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Support cache on response
  deploy/src/db.ts
  deploy/src/index.ts
  deploy/src/types.ts
  gateway/src/gateway.ts
  gateway/src/index.ts
  gateway/src/middleware/cache.ts
  gateway/src/middleware/storage.ts
  gateway/src/types.ts
  gateway/test/cache.spec.ts
  gateway/test/worker.ts
  proxy-vcr/proxy_vcr/cassettes/openai-159ef69d00bcffdce018936eaf487cc1a5c8eb66b52fcb8fc7fe0c79e37c3baa.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-281c234fea62893bcc6cf9938f48ce863c757e7d9339cd0badcab66d33ec5714.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-4aa76245acbac6ffcef36851e34406fc9feeafb5264cc083cb1083a9c838e80c.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-85c50c20d79a55446c8ee8cce3db8273f9e45df86a46af3b6a1ef014074413a8.yaml
  proxy-vcr/proxy_vcr/cassettes/openai-94748ba2f45b546b778e93a23f7383b111fa3b75552a1ad141a59bf64e6046cb.yaml
Due: format-ts, lint-ts, typecheck-ts

bump genai-prices
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

bump genai-prices (#169)
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

feat(gateway): Add OVHcloud AI Endpoints provider
  deploy/example.config.ts
  deploy/example.env.local
  examples/pai_ovhcloud.py
  gateway/src/handler.ts
  gateway/src/providers/ovhcloud.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/ovhcloud.spec.ts
  gateway/test/worker.ts
  gateway/vitest.config.mts
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Add ovhcloud example
  examples/ex_ovhcloud.py
Due: format-py, typecheck-py

Fix tests
  gateway/test/providers/ovhcloud.spec.ts
  gateway/test/providers/ovhcloud.spec.ts.snap
  proxy-vcr/proxy_vcr/cassettes/ovhcloud-609126312739635c073ae10c676394447aa6293d0a3603f0bde21421b4755962.yaml
  proxy-vcr/proxy_vcr/cassettes/ovhcloud-f26e09cef7944f1e39966048541224d04b62c1b912d3aaa60c42744dad8faf5a.yaml
Due: format-ts, lint-ts, typecheck-ts

Bump genai-prices
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

feat(bedrock): map anthropic models to bedrock
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

feat(bedrock): map anthropic models to bedrock (#172)
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

feat(gateway): Add OVHcloud AI Endpoints provider (#171)
  deploy/example.config.ts
  deploy/example.env.local
  examples/ex_ovhcloud.py
  examples/pai_ovhcloud.py
  gateway/package.json
  gateway/src/handler.ts
  gateway/src/providers/ovhcloud.ts
  gateway/src/types.ts
  gateway/test/env.d.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/ovhcloud.spec.ts
  gateway/test/providers/ovhcloud.spec.ts.snap
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
  proxy-vcr/proxy_vcr/cassettes/ovhcloud-609126312739635c073ae10c676394447aa6293d0a3603f0bde21421b4755962.yaml
  proxy-vcr/proxy_vcr/cassettes/ovhcloud-f26e09cef7944f1e39966048541224d04b62c1b912d3aaa60c42744dad8faf5a.yaml
  proxy-vcr/proxy_vcr/main.py
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Publish to NPM
  .github/workflows/publish.yml
Due: none

feat: introduce `CacheAdapter` to support redis/kv
  .pre-commit-config.yaml
  deploy/src/index.ts
  gateway/src/auth.ts
  gateway/src/cache/adapter.d.ts
  gateway/src/cache/index.ts
  gateway/src/cache/kv.ts
  gateway/src/cache/redis.ts
  gateway/src/handler.ts
  gateway/src/index.ts
  gateway/src/providers/base.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Add docker-compose in CI
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  README.md
  docker-compose.yml
  gateway/package.json
  gateway/src/cache/redis.ts
  gateway/test/README.md
  gateway/test/cache.spec.ts
  gateway/vitest.config.mts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

drop readme
  gateway/test/README.md
Due: none

pass
  gateway/test/cache.spec.ts
Due: format-ts, lint-ts, typecheck-ts

try now
  .github/workflows/ci.yml
Due: none

try now
  docker-compose.yml
Due: none

try now
  gateway/src/cache/redis.ts
  gateway/test/cache.spec.ts
Due: format-ts, lint-ts, typecheck-ts

try now
  README.md
Due: none

feat: introduce `CacheAdapter` to support redis/kv (#174)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  README.md
  deploy/src/index.ts
  docker-compose.yml
  gateway/package.json
  gateway/src/auth.ts
  gateway/src/cache/adapter.d.ts
  gateway/src/cache/index.ts
  gateway/src/cache/kv.ts
  gateway/src/cache/redis.ts
  gateway/src/handler.ts
  gateway/src/index.ts
  gateway/src/providers/base.ts
  gateway/src/providers/google/auth.ts
  gateway/src/providers/google/index.ts
  gateway/test/cache.spec.ts
  gateway/test/worker.ts
  gateway/vitest.config.mts
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

add env
  .github/workflows/publish.yml
Due: none

Publish to NPM (#173)
  .github/workflows/publish.yml
Due: none

drop provenance for now
  .github/workflows/publish.yml
Due: none

drop provenance for now (#176)
  .github/workflows/publish.yml
Due: none

Set proper publish on version
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

Set proper publish on version (#177)
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

fix: use proper path to gateway package.json
  .github/workflows/publish.yml
Due: none

fix: use proper path to gateway package.json (#178)
  .github/workflows/publish.yml
Due: none

Set version 0.0.2
  gateway/package.json
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

Set version 0.0.2 (#179)
  gateway/package.json
  package-lock.json
  package.json
Due: format-ts, lint-ts, typecheck-ts

Add database adapter interface
  deploy/src/index.ts
  gateway/src/db.ts
  gateway/test/db.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Add database adapter interface (#180)
  deploy/src/index.ts
  gateway/src/db.ts
  gateway/test/db.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/openai.spec.ts
  gateway/test/worker.ts
Due: format-ts, lint-ts, typecheck-ts

Version 0.0.3
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

Version 0.0.3 (#181)
  gateway/package.json
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts

fix bedrock name models
  examples/pai_anthropic.py
  gateway/src/handler.ts
  gateway/src/providers/base.ts
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

fix bedrock name models (#182)
  examples/pai_anthropic.py
  gateway/src/handler.ts
  gateway/src/providers/base.ts
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

add more model names
  examples/pai_anthropic.py
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

Path conditions:
  format-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  lint-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  typecheck-ts: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$
  format-py: any of: \.py$
  typecheck-py: any of: \.py$
