Repository pydantic/pydantic-ai-gateway: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell

  - repo: local
    hooks:
      - id: format-ts
        name: format typescript
        entry: make
        args: [format-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: lint-ts
        name: lint typescript
        entry: make
        args: [lint-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: make
        args: [typecheck-ts]
        language: system
        types_or: [javascript, ts, json]
        pass_filenames: false
      - id: format-py
        name: format python
        entry: make
        args: [format-py]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-py
        name: typecheck python
        entry: make
        args: [typecheck-py]
        language: system
        types: [python]
        pass_filenames: false

fix type hint
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

always record spend (#93)
  .zed/settings.json
  deploy/test/index.spec.ts.snap
  gateway/limits-schema.sql
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/openai.spec.ts
Due: format-ts, lint-ts, typecheck-ts

improve performance of limit update methods
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

improve performance of limit update methods (#94)
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

refactor: limit update fns
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

refactor: interface
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

refactor: tests
  proxy-vcr/proxy_vcr/__pycache__/__init__.cpython-313.pyc
  proxy-vcr/proxy_vcr/__pycache__/main.cpython-313.pyc
Due: none

refactor: tests
  gateway/src/db.ts
  gateway/test/gateway.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

Add Anthropic example
  examples/ex_anthropic.py
Due: format-py, typecheck-py

test: drop scopeInterval for snapshot
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

test: drop `scopeInterval` for snapshot (#97)
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

Add Anthropic example (#96)
  examples/ex_anthropic.py
Due: format-py, typecheck-py

feat(openai/responses): add GenAI attributes
  examples/pai_openai_responses.py
  gateway/package.json
  gateway/src/api/anthropic.ts
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/responses.ts
  gateway/src/otel/genai.d.ts
  gateway/test/providers/openai.spec.ts.snap
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

feat(openai/responses): add GenAI attributes
  gateway/src/api/chat.ts
  gateway/src/api/responses.ts
  gateway/src/otel/genai.d.ts
Due: format-ts, lint-ts, typecheck-ts

feat(openai/responses): add GenAI attributes (#98)
  examples/pai_openai_responses.py
  gateway/package.json
  gateway/src/api/anthropic.ts
  gateway/src/api/chat.ts
  gateway/src/api/google.ts
  gateway/src/api/responses.ts
  gateway/src/otel/genai.d.ts
  gateway/test/providers/openai.spec.ts.snap
  package-lock.json
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

refactor: address comments
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

remove pyc files
  .gitignore
  gateway/src/db.ts
  proxy-vcr/proxy_vcr/__pycache__/__init__.cpython-313.pyc
  proxy-vcr/proxy_vcr/__pycache__/main.cpython-313.pyc
Due: format-ts, lint-ts, typecheck-ts

refactor: update limits fn signature (#95)
  .gitignore
  gateway/src/db.ts
Due: format-ts, lint-ts, typecheck-ts

improve spendStatus
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/test/gateway.spec.ts
  gateway/test/providers/openai.spec.ts
Due: format-ts, lint-ts, typecheck-ts

fix tests
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
Due: format-ts, lint-ts, typecheck-ts

improve `spendStatus` (#99)
  deploy/test/index.spec.ts
  deploy/test/index.spec.ts.snap
  gateway/src/db.ts
  gateway/src/gateway.ts
  gateway/test/gateway.spec.ts
  gateway/test/gateway.spec.ts.snap
  gateway/test/providers/openai.spec.ts
Due: format-ts, lint-ts, typecheck-ts

Allow use of Logfire staging write token
  gateway/src/otel/index.ts
Due: format-ts, lint-ts, typecheck-ts

Allow use of Logfire staging write token (#100)
  gateway/src/otel/index.ts
Due: format-ts, lint-ts, typecheck-ts

Revert "Allow use of Logfire staging write token (#100)"
  gateway/src/otel/index.ts
Due: format-ts, lint-ts, typecheck-ts

Revert "Allow use of Logfire staging write token (#100)" (#101)
  gateway/src/otel/index.ts
Due: format-ts, lint-ts, typecheck-ts

Use inline `onEvent` on the SSE parser
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Use inline `onEvent` on the SSE parser (#103)
  gateway/src/providers/default.ts
Due: format-ts, lint-ts, typecheck-ts

Make API classes aware of the provider they are running in
  gateway/src/api/base.ts
  gateway/src/api/bedrock.ts
  gateway/src/api/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/openai.ts
Due: format-ts, lint-ts, typecheck-ts

Add a TODO note
  gateway/src/api/base.ts
Due: format-ts, lint-ts, typecheck-ts

Make API classes aware of the provider they are running in (#104)
  gateway/src/api/base.ts
  gateway/src/api/bedrock.ts
  gateway/src/api/index.ts
  gateway/src/providers/anthropic.ts
  gateway/src/providers/bedrock.ts
  gateway/src/providers/google/index.ts
  gateway/src/providers/groq.ts
  gateway/src/providers/openai.ts
Due: format-ts, lint-ts, typecheck-ts

Support Anthropic through AWS Bedrock
  examples/ex_anthropic_bedrock.py
  examples/pai_bedrock.py
  examples/pyproject.toml
  gateway/src/providers/bedrock.ts
  pyproject.toml
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py

clean
  examples/ex_anthropic_bedrock.py
Due: format-py, typecheck-py

clean
  pyproject.toml
  uv.lock
Due: none

update dependencies
  examples/pyproject.toml
  uv.lock
Due: none

add missing anthropic api
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

Add note
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

readd removed part
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

lint
  gateway/src/providers/bedrock.ts
Due: format-ts, lint-ts, typecheck-ts

Support Anthropic through AWS Bedrock (#105)
  examples/ex_anthropic_bedrock.py
  examples/pai_bedrock.py
  examples/pyproject.toml
  gateway/src/providers/bedrock.ts
  uv.lock
Due: format-ts, lint-ts, typecheck-ts, format-py, typecheck-py
